<h1>Listing base_infos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Tel</th>
    <th>Fax</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @base_infos.each do |base_info| %>
  <tr>
    <td><%= base_info.name %></td>
    <td><%= base_info.address %></td>
    <td><%= base_info.tel %></td>
    <td><%= base_info.fax %></td>
    <td><%= base_info.email %></td>
    <td><%= link_to 'Show', base_info %></td>
    <td><%= link_to 'Edit', edit_base_info_path(base_info) %></td>
    <td><%= link_to 'Destroy', base_info, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Base info', new_base_info_path %>
