<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @base_info.name %>
</p>

<p>
  <b>Address:</b>
  <%= @base_info.address %>
</p>

<p>
  <b>Tel:</b>
  <%= @base_info.tel %>
</p>

<p>
  <b>Fax:</b>
  <%= @base_info.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @base_info.email %>
</p>


<%= link_to 'Edit', edit_base_info_path(@base_info) %> |
<%= link_to 'Back', base_infos_path %>
