<%= form_for(@information) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.error_message :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
    <%= f.error_message :address %>
  </div>
  <div class="field">
    <%= f.label :tel %><br />
    <%= f.text_field :tel %>
    <%= f.error_message :tel %>
  </div>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
    <%= f.error_message :fax %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    <%= f.error_message :email %>
  </div>

  <%= fields_for(@bank_account) do |f|%>
    <div class="field">
      <%= f.label :bank_name %><br />
      <%= f.text_field :bank_name %>
    </div>
    <div class="field">
      <%= f.label :branch_name %><br />
      <%= f.text_field :branch_name %>
    </div>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :code %><br />
      <%= f.text_field :code %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
