<h3><%= t 'Sign up' %></h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <p><%= f.label :email %><br />
  <%= f.text_field :email %><%= f.error_message :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %><%= f.error_message :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>
  <br>
  <h4><%= t 'TOS' %></h4>
  <div id="tos_area">
    <%= render 'layouts/tos' %>
  </div>
  <div id="tos_notice">
  <%= t 'By clicking on "Sign up" below, you are agreeing to the Terms of Service above' %>
  </div>
  <p><%= f.submit t("Sign up") %></p>
<% end %>


