<h3><%= t 'Sign up' %></h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <p><%= f.label :email %><br />
  <%= f.text_field :email %><%= f.error_message :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %><%= f.error_message :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit t("Sign up") %></p>
<% end %>


