<h1>Listing estimations</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Note</th>
    <th>Client name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @estimations.each do |estimation| %>
  <tr>
    <td><%= estimation.title %></td>
    <td><%= estimation.description %></td>
    <td><%= estimation.note %></td>
    <td><%= estimation.client_name %></td>
    <td><%= link_to 'Show', estimation %></td>
    <td><%= link_to 'Edit', edit_estimation_path(estimation) %></td>
    <td><%= link_to 'Destroy', estimation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Estimation', new_estimation_path %>
