<h3><%= t('Listing estimations') %></h3>

<% @estimations.each do |estimation| -%>
  <div class="post">
    <div class="post-head"><h4><%= estimation.title %>(<%= estimation.client_name %>)</h4></div>
    <div class="post-content">
    <p><%= estimation.description %></p>
    <p><%= estimation.note %></p>
    <p style="text-align: right;">合計: <%= number_to_currency(estimation.total) %></p>
    </div>
    <p style="text-align: right;">
    <%= link_to "[#{t('Edit details')}]", estimation %>&nbsp;
    <%= link_to "[#{t('PDF download')}]", estimation_path(estimation, :format => 'pdf') %>&nbsp;
    </p>
  </tr>
  </div>
<% end -%>
</table>

<br />

<%= link_to  t('New Estimation'), new_estimation_path %>
