<h1><%= t('Listing estimations') %></h1>

<table>
  <tr>
    <th><%= t 'Title' %></th>
    <th><%= t 'Description' %></th>
    <th><%= t 'Note' %></th>
    <th><%= t 'Client name' %></th>
  </tr>

<% @estimations.each do |estimation| %>
  <tr>
    <td><%= link_to estimation.title, estimation %></td>
    <td><%= estimation.description %></td>
    <td><%= estimation.note %></td>
    <td><%= estimation.client_name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to  t('New Estimation'), new_estimation_path %>
