<% @javascripts << 'estimations/show' %>
<div style="text-align: right;">
<%= link_to t('Back to list'), estimations_path %>
</div>
<p>
  <b><%= t 'Title' %>:</b>
  <%= link_to @estimation.title, edit_estimation_path(@estimation) %>
</p>
<p>
  <b><%= t 'Description' %>:</b>
  <%= @estimation.description %>
</p>
<p>
  <b><%= t 'Note' %>:</b>
  <%= @estimation.note %>
</p>
<p>
  <b><%= t 'Client name' %>:</b>
  <%= @estimation.client_name %>
</p>
<%= form_for([@estimation, @estimation.accounts.new]) do |f| %>
<table id="estimates_table">
  <tr>
    <th><%= f.label :content %></th>
    <th><%= f.label :price %></th>
    <th>&nbsp;</th>
  </tr>
  <tr id="form_row">
    <td><%= f.text_field :content %><div id="content_error" class="alert"></div></td>
    <td><%= f.text_field :price, :size => 8 %><div id="price_error" class="alert"></div></td>
    <td><%= f.submit %><%= image_tag 'ajax-loader.gif', :style => 'display: none;', :id => 'ajax_loader' %></td>
  </tr>
  <% @estimation.accounts.each do |account| -%>
  <tr id="account_<%= account.id %>">
    <td><%= account.content %></td>
    <td style="text-align: right;"><%= number_to_currency(account.price) %></td>
    <td><%= link_to "[#{t('Destroy')}]", [@estimation, account], :method => :delete, :remote => true %></td>
  </tr>
  <% end -%>
</table>
<% end -%>
<%#= link_to t('Edit'),  %>

