<!DOCTYPE html>
<html>
<head>
  <title><%= t 'Item' %></title>
  <meta charset="UTF-8">
  <style type="text/css">
    body{
      margin-left: 30xp;
      margin-right: 30px;
    }
    h1{
      text-align: center;
    }
    #account_table th{
      background: #3333aa;
      color: #ffffff;
    }
    #last_update{
      text-align: right;
    }
    #summary{
      float: left;
    }
    #user{
      float: right;
      margin-right: 30px;
    }
    #bank{
      float: right;
      margin-right: 30px;
    }
    #account_table{
      border: 1px solid #000000;
      margin-top: 40px;
    }
    #total th, #total td{
      border-top: 1px dotted #000000;
    }
    #total th{
      background: #FFFFFF;
      color: #000000;
    }
    #total td{
      text-align: right;
    }
    .item_content{
      width: 780px;
    }
    .item_price{
      width: 200px;
      text-align: right;
    }
    .even{
      background: #F8F8F8;
    }
  </style>
</head>
<body>
<h1><%= t 'Item' %></h1>
<p id="last_update"><%= t 'Last update' %>: <%= @item.updated_at.strftime("%Y年%m月%d日") %></p>

<div id="summary">
  <p><%= @item.client_name %>御中</p>
  <p><%= @item.title %></p>
  <p><%= t 'Total' %> <%= number_to_currency(@item.total) %></p>
</div>

<div id="user">
  <% information = @item.user.information %>
  <table>
    <tr><th><%= t 'Name' %></th><td><%= information.name %></td></tr>
    <tr><th><%= t 'Address' %></th><td><%= information.address %></td></tr>
    <tr><th><%= t 'Tel' %></th><td><%= information.tel %></td></tr>
    <% if information.fax.length > 0 %><tr><th><%= t 'Fax' %></th><td><%= information.fax %></td></tr><% end %>
  </table>
</div>
<div style="clear: both;"></div>
<% if @item.delivery? || @item.receipt? %>
  <div id="bank">
    <% bank_account = @item.user.bank_account %>
    <h2><%= t 'Recipient' %></h2>
    <table>
      <tr><th><%= t 'Bank name' %></th><td><%= bank_account.bank_name %></td></tr>
      <tr><th><%= t 'Branch name' %></th><td><%= bank_account.branch_name %></td></tr>
      <tr><th><%= t 'Bank account name' %></th><td><%= bank_account.name %></td></tr>
      <tr><th><%= t 'Bank account code' %></th><td><%= bank_account.code %></td></tr>
    </table>
  </div>
<% end %>
<div style="clear: both;"></div>

<table id="account_table">
  <tr>
    <th><%= t 'Content' %></th>
    <th><%= t 'Price' %></th>
  </tr>
  <% @item.accounts.each do |account| -%>
    <tr id="account_<%= account.id %>" class="<%= cycle 'odd', 'even' %>">
      <td class="item_content"><%= account.content %></td>
      <td class="item_price"><%= number_to_currency(account.price) %></td>
    </tr>
  <% end -%>
  <tr id="total">
    <th><%= t 'Total' %></th>
    <td><%= number_to_currency @item.total %></td>
  </tr>
</table>
</body>
</html>
