<!DOCTYPE html>
<html>
<head>
  <title><%= @item.title %></title>
  <meta charset="UTF-8">
  <style type="text/css">
    body{
      margin-left: 30xp;
      margin-right: 30px;
    }
    h1{
      text-align: center;
    }
    #account_table th{
      background: #3333aa;
      color: #ffffff;
    }
    #last_update{
      text-align: right;
    }
    #summary{
      float: left;
    }
    #user{
      float: right;
      margin-right: 30px;
      margin-top: 50px;
    }
    #user th{
      text-align: left;
    }
    #bank{
      float: right;
      margin-right: 30px;
    }
    #account_table{
      border: 1px solid #000000;
      margin-top: 40px;
    }
    #total th, #total td{
      border-top: 1px dotted #000000;
    }
    #total th{
      background: #FFFFFF;
      color: #000000;
    }
    #total td{
      text-align: right;
    }
    #note{
      border: 1px solid #000000;
      padding: 4px;
      margin-top: 20px;
      height: 200px;
    }
    #note_lavel{
      font-weight: bold;
      border-bottom: 1px dotted #000000;
      margin-bottom: 4px;
    }
    #total_with_tax{
      text-decoration: underline;
      font-weight: bold;
    }
    .item_content{
      width: 780px;
    }
    .item_price{
      width: 200px;
      text-align: right;
    }
    .even{
      background: #F8F8F8;
    }
  </style>
</head>
<body>
<h1>
  <% case @item.state -%>
  <% when 'estimate' -%>
    <%= t('An estimate')%>
  <% else -%>
    <%= t 'Bill' %>
  <% end -%>
</h1>
<p id="last_update"><%= @item.updated_at.strftime("%Y年%m月%d日") %></p>

<div id="summary">
  <p><%= @item.client_name %>御中</p>
  <p><%= @item.title %></p>
  <p id="total_with_tax" style="font-size: large;"><%= t 'Total' %> <%= number_to_currency(@item.total_with_tax) %>(<%= t 'tax-inclusive pricing' %>)</p>
</div>

<div id="user">
  <% information = @item.user.information %>
  <table>
    <tr><th><%= t 'Name' %></th><td><%= information.name %></td></tr>
    <tr><th><%= t 'Address' %></th><td><%= information.address %></td></tr>
    <tr><th><%= t 'Tel' %></th><td><%= information.tel %></td></tr>
    <% if information.fax.length > 0 %><tr><th><%= t 'Fax' %></th><td><%= information.fax %></td></tr><% end %>
  </table>
</div>
<div style="clear: both;"></div>
<% if @item.estimate? -%>
  <p id="note">
    <span id="note_label"><%= t 'Note' %>:</span><br>
    <%= nl2br @item.note %>
  </p>
<% else -%>
  <div id="bank">
    <% bank_account = @item.user.bank_account %>
    <h2><%= t 'Recipient' %></h2>
    <table>
      <tr><th><%= t 'Bank name' %></th><td><%= bank_account.bank_name %></td></tr>
      <tr><th><%= t 'Branch name' %></th><td><%= bank_account.branch_name %><% if bank_account.branch_number && bank_account.branch_number.length > 0 %>(<%= t 'Branch number' %>: <%= bank_account.branch_number %>)<% end %></td></tr>
      <tr><th><%= t 'Bank account name' %></th><td><%= bank_account.name %></td></tr>
      <tr><th><%= t 'Bank account code' %></th><td><%= bank_account.code %></td></tr>
    </table>
  </div>
<% end -%>
<div style="clear: both;"></div>

<table id="account_table">
  <tr>
    <th><%= t 'Content' %></th>
    <th><%= t 'Price' %></th>
  </tr>
  <% @item.accounts.each do |account| -%>
    <tr id="account_<%= account.id %>" class="<%= cycle 'odd', 'even' %>">
      <td class="item_content"><%= account.content %></td>
      <td class="item_price"><%= number_to_currency(account.price) %></td>
    </tr>
  <% end -%>
  <tr>
    <td class="item_content"><%= t 'Tax' %></td>
    <td class="item_price"><%= number_to_currency @item.tax %></td>
  </tr>
  <tr id="total">
    <th><%= t 'Total' %></th>
    <td><%= number_to_currency @item.total_with_tax %></td>
  </tr>
</table>

</body>
</html>
