<% @javascripts << 'items/show' -%>
<h3><%= t('Edit details') %></h3>
<div style="text-align: right;">
<%= link_to t('Back to list'), items_path %>
</div>
<p>
  <b><%= t 'Title' %>:</b>
   <%= @item.title %>
</p>
<p>
  <b><%= t 'Client name' %>:</b>
  <%= @item.client_name %>
</p>
<p>
  <b><%= t 'Description' %>:</b>
  <div class="indent"><%=nl2br @item.description %></div>
</p>
<p>
  <b><%= t 'Note' %>:</b>
  <div class="indent"><%=nl2br @item.note %></div>
</p>
<p style="text-align: right;">
  <b><%= t 'State' %>:</b>
  <%= t @item.state %>
</p>

<div>
  <div style="float: left;"><%= link_to "[#{t("Destroy")}]", @item, :method => :delete, :confirm => t('Are you sure you want to delete this item?') %></div>
  <div style="float: right; text-align: right;">
    <%= link_to "[#{t("Edit base info")}]", edit_item_path(@item) %>&nbsp;
    <%= link_to "[#{t('PDF download')}]", item_path(@item, :format => 'pdf') %>&nbsp;</div>
  <div style="clear: both;"></div>
</div>

<%= form_for([@item, @item.accounts.new]) do |f| %>
  <div>&nbsp;&nbsp;
    <%= image_tag 'ajax-loader.gif', :style => 'display: none;', :id => 'ajax_loader' %>
    <span id="content_error" class="alert"></span><span id="price_error" class="alert"></span>
  </div>
<table id="estimates_table">
  <tr>
    <th><%= f.label :content %></th>
    <th><%= f.label :price %></th>
    <th>&nbsp;</th>
  </tr>
  <tr id="form_row">
    <td><%= f.text_field :content, :size => 40 %></td>
    <td><%= f.text_field :price, :size => 8 %></td>
    <td><%= f.submit %></td>
  </tr>
  <% @item.accounts.each do |account| -%>
  <tr id="account_<%= account.id %>">
    <td><%= account.content %></td>
    <td style="text-align: right;"><%= number_to_currency(account.price) %></td>
    <td><%= link_to "[#{t('Destroy')}]", [@item, account], :method => :delete, :remote => true %></td>
  </tr>
  <% end -%>
  <tr id="total_row">
    <th><%= t 'Sub total' %></th>
    <td style="text-align: right;"><%= number_to_currency(@item.total) %></td>
    <td>&nbsp;</td>
  </tr>
</table>
<% end -%>

