<% @javascripts << 'items/show' -%>
<h3><%= t('Edit details') %></h3>
<div style="text-align: right;">
<%= link_to t('Back to list'), items_path %>
</div>
<p>
  <b><%= t 'Title' %>:</b>
   <%= @item.title %>
</p>
<p>
  <b><%= t 'Client name' %>:</b>
  <%= @item.client_name %>
</p>
<p>
  <b><%= t 'Description' %>:</b>
  <%= @item.description %>
</p>
<p>
  <b><%= t 'Note' %>:</b>
  <%= @item.note %>
</p>
<p>
  <b><%= t 'State' %>:</b>
  <%= t @item.state %>
</p>


<div style="text-align: right;">
  <%= link_to "[#{t("Edit base info")}]", edit_item_path(@item) %>&nbsp;
  <%= link_to "[#{t('PDF download')}]", item_path(@item, :format => 'pdf') %>&nbsp;</div>

<%= form_for([@item, @item.accounts.new]) do |f| %>
<table id="estimates_table">
  <tr>
    <th><%= f.label :content %></th>
    <th><%= f.label :price %></th>
    <th>&nbsp;</th>
  </tr>
  <tr id="form_row">
    <td><%= f.text_field :content, :size => 40 %><div id="content_error" class="alert"></div></td>
    <td><%= f.text_field :price, :size => 8 %><div id="price_error" class="alert"></div></td>
    <td><%= f.submit %><%= image_tag 'ajax-loader.gif', :style => 'display: none;', :id => 'ajax_loader' %></td>
  </tr>
  <% @item.accounts.each do |account| -%>
  <tr id="account_<%= account.id %>">
    <td><%= account.content %></td>
    <td style="text-align: right;"><%= number_to_currency(account.price) %></td>
    <td><%= link_to "[#{t('Destroy')}]", [@item, account], :method => :delete, :remote => true %></td>
  </tr>
  <% end -%>
</table>
<% end -%>
<%#= link_to t('Edit'),  %>

